
.comment {
  border-bottom: 1px dotted gray;
  margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;       /* force single line */
    width: 310px;
    max-height: 60px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.comment:hover {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 310px;
    max-height: 200px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  
}
ul {
  margin: 0;
  li.actions {
    text-align: right;
  }
}
ul.comment_list {
}
ul.show_comment {
  textarea {
    min-height: 200px;
    max-height: 700px;
    width: 310px;
  }
  .title {
    width: 310px;
  }

}
select.section {
  width: 310px;
}
ul.show_article {
  li {
    div.property {
      display: inline-block;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 3px;
      font-weight: bold;
    }
    #draft {
        background-color: rgb(245, 202, 0);
    }
    #promoted {
        background-color: #78a300;
    }
    #comments_disabled {
        background-color: rgb(232, 42, 42);
    }
    div.label {
      display: inline-block;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 3px;
    }
  }
  li.title {
    border: 1px solid grey;
    border-radius:2px;
    padding: 2px;
  }
  li.body {
    border: 1px solid grey;
    border-radius:2px;
    padding: 2px;
  }
  li.properties {
    text-align: center;
    margin-bottom: 10px;
  }
  li.article_links {
      text-align: center;
      margin-bottom: 0;
  } 
}


