.comment {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;       /* force single line */
    width: 300px;              /* fixed width */
    height: 20px;
  }
}
ul.show_comment {
  textarea {
    border: 1px solid black;
    min-height: 200px;
    max-height: 700px;
    width: 280px;
  }

}
